body {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

div.mainWrap {
    min-height: 100vh;
    background-color: #222;
}
main {
    background-color: #fff;
    padding: 1rem
}
div.mainInner {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 70vh;
}
footer {
    color: #a0a0a0;
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: center;
}
footer p {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}
footer a {
    color: #aaa;
}

p.lead {
    font-size: 1.2em;
    padding: 0 1em;
    border-left: 3px solid #555;
}

div.raffleProducts h2 {
    font-size: 1.1rem;
}

div.raffleProducts {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

div.raffleProduct {
    display: flex;
    flex-direction: column;
}

div.raffleProduct img {
    width: 100%;
    height: auto;
}

div.raffleProduct button {
    width:100%;
    background-color: #4682b4;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
}

div.customRaffleProduct input {
    width: 4ch;
    background-color: #ffc;
    border: 1px solid #999;
    font-size: 1em;
    text-align: center;
}

div.raffleProduct .description {
    text-align: center;
    font-size: 0.8em;
}

div.raffleProduct button {
    cursor: pointer;
    border: 1px solid #777;
    transition: box-shadow 0.2s;
}
div.raffleProduct button:hover {
    box-shadow: 3px 3px 3px #999;
    border: 1px solid #000;
    background-color: #2c6696;
}